{% extends "layout.html" %}

{% block body %}
<div class="jumbotron text-center">
    <h3>
        YB Bloğuna Hoş Geldin!
    </h3>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium atque dicta totam corrupti quod. Dolor ad aliquam quisquam nostrum, tempora numquam neque esse, molestias ipsum voluptate ab nemo id et corrupti obcaecati eos minima, laboriosam autem in sed porro accusamus voluptates nobis maxime. Repudiandae adipisci veniam commodi odio hic sint!
    </p>
</div>


{% endblock body %}